<%= erb :project_navigation %>

<div class="panel panel-default">
  <table class="table">
    <thead>
      <tr>
        <th>Channel</th>
        <th>Branch</th>
        <th>Author</th>
        <th>Rollout</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th>Pod1</th>
        <td><code>luke/upgrade-lightsaber</code></td>
        <td>Luke Skywalker</td>
        <td align="right">0%</td>
      </tr>

      <tr>
        <th>Pod3</th>
        <td><code>luke/secret-plans</code></td>
        <td>Luke Skywalker</td>
        <td align="right">0%</td>
      </tr>

      <tr>
        <th>Pod3</th>
        <td><code>darthy/death-star-schemata</code></td>
        <td>Darth Vader</td>
        <td align="right">2%</td>
      </tr>
    </tbody>
  </table>
</div>
