<%= erb :project_navigation %>

<div class="panel panel-default">
  <% if @processes.any? %>
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th>Name</th>
            <th>Command</th>
          </tr>
        </thead>
        <tbody>
          <% @processes.each do |process| %>
            <tr>
              <th width="10"><code><%= process.name %></code></th>
              <td><code><%= process.command %></code></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  <% else %>
    <div class="panel-body">
      <p>No process roles defined in the <code>manifest.json</code> file in the <code><%= @pipeline.branch %></code> branch of this project. Add this file in order to track process roles.</p>
    </div>
  <% end %>
</div>
