<table class="table">
  <thead>
    <tr>
      <th>SHA</th>
      <th>Author</th>
      <th>Message</th>
    </tr>
  </thead>
  <tbody>
    <% @build.commits.each do |commit| %>
      <tr>
        <td width="10"><%= commit_link(commit) %></td>
        <td><%= commit.author %></td>
        <td><%= commit.summary %></td>
      </tr>
    <% end %>
  </tbody>
</table>
