<form action="<%= setup_finalize_path %>" method="POST">
  <input type="hidden" name="name" value="<%= @repo.name %>">
  <input type="hidden" name="repo" value="<%= @repo.full_name %>">

  <div class="form-group">
    <label for="pipeline_name">Pipeline name</label>
    <input type="text" class="form-control" name="pipeline_name" placeholder="Pipeline branch" value="Production">
    <span class="help-block">E.g. <q>Staging</q>, <q>Production</q>, etc.</span>
  </div>

  <div class="form-group">
    <label for="pipeline_branch">Branch</label>
    <input type="text" class="form-control" name="pipeline_branch" placeholder="Pipeline branch" value="<%= @repo.default_branch %>">
    <span class="help-block">Pushing commits to this branch will cause a new <em>build</em> to be created.</span>
  </div>

  <button type="submit" class="btn btn-default">Add Pipeline &amp; Finalize</button>
</form>
